## üìä __Learning Material Query Tool__

<details>
<summary>Expand for Instructions</summary>

This notebook provides three ways to query your learning material database:

1. **üìù Write Your Own Query** - Write custom SQL queries
2. **ü§ñ AI Natural Language Converter** - Convert natural language to SQL
3. **‚ö° Pre-written Standard Queries** - Use common predefined queries



## üí° Tips & Notes

- **Database Schema**: The `learned_material` table contains your daily learning records
- **Date Format**: Dates are stored in YYYY-MM-DD format 
- **Null Values**: Missing subjects/topics indicate skipped learning days
- **File Paths**: Point to your HTML review files when learning occurred


**Need help?** 
- Use the AI converter for complex questions in plain English
- Start with standard queries to explore your data
- Write custom SQL for specific analysis needs

</details>

<hr style="height:5px;border-width:0;background-color:green;">

### üìù __Option 1: Write Your Own SQL Query__

<details>
<summary>Expand for Instructions</summary>

Use this section to write and execute custom SQL queries against your `learned_material` table.

**Available columns:**
- `Index` - Day number
- `Date` - Date of learning session  
- `Subject` - Subject studied (can be NULL for skipped days)
- `Topic` - Topic studied (can be NULL for skipped days)
- `FilePath` - Path to review file (NULL for skipped days)

**Example queries:**
- `SELECT * FROM learned_material LIMIT 10;`
- `SELECT Subject, COUNT(*) FROM learned_material GROUP BY Subject;`
- `SELECT * FROM learned_material WHERE Date >= '2025-05-01';`

</details>

In [ ]:
import query_runner

# Your SQL query here
query = """
SELECT date, subject, topic, filepath FROM learned_material 
where subject ilike '%machine%';
        """

query_runner.run_query(query)

<hr style="height:5px;border-width:0;background-color:green;">

### ü§ñ __Option 2: AI Natural Language Converter__

<details>
<summary>Expand for Instructions</summary>

Convert natural language questions into SQL queries using AI. Simply describe what you want to find in plain English.

**Examples:**
- "Show me all subjects I studied in May 2025"
- "What topics did I learn about programming?"
- "Get the dates when I skipped learning"

</details>

In [ ]:
# Have AI convert natural language to a SQL query
from AI_text_to_query_converter import natural_language_to_query

question = input("Enter your question: ")
natural_language_to_query(question)

<hr style="height:5px;border-width:0;background-color:green;">

### ‚ö° __Option 3: Pre-written Standard Queries__

<details>
<summary>Expand for Instructions</summary>

Use these common predefined queries for quick insights into your learning data.

**Available standard queries:**
- `all_data()` - Get all learning records
- `count_subjects()` - Count entries by subject
- `count_topics()` - Count entries by topic  
- `skipped_days()` - Show days when learning was skipped
- `unique_subjects()` - List all unique subjects
- `unique_topics()` - List all unique topics
- `learning_streak()` - Find your longest learning streak
- `total_learning_days()` - Count total days of learning

Simply import the function and run it:

</details>

In [1]:
# Example: Try different standard queries
import query_runner
from standard_queries import Standard_Query

query_runner.run_query(Standard_Query.run_interactive())