In [ ]:
import query_runner

# Your SQL query here
query = """
SELECT 
    COALESCE(Subject, 'Skipped') AS Subject,
    COUNT(*) AS count
FROM learned_material
GROUP BY Subject
ORDER BY Count DESC;
"""

query_runner.run_query(query)

## <span style="color:blue">__Natural language to query converter__</span>
```python

In [6]:
from AI_text_to_query_converter import natural_language_to_query
natural_language_to_query("""get me all the filepaths of all the unique subjects and topics I have learned about in april and may of 2025 
                          with the dates of each one""")

In [ ]:
import query_runner

query = """SELECT 
    date, subject, topic
FROM learned_material
where subject is not null
order by subject;""" 
query_runner.run_query(query)

In [1]:
import query_runner

query = """SELECT 
    Filepath
FROM learned_material
where subject ilike '%git%'
;""" 
query_runner.run_query(query)