# ðŸ“Š Learning Material Query Tool

This notebook provides three ways to query your learning material database:

1. **ðŸ“ Write Your Own Query** - Write custom SQL queries
2. **ðŸ¤– AI Natural Language Converter** - Convert natural language to SQL
3. **âš¡ Pre-written Standard Queries** - Use common predefined queries

---

## ðŸ“ Option 1: Write Your Own SQL Query

Use this section to write and execute custom SQL queries against your `learned_material` table.

**Available columns:**
- `Index` - Day number
- `Date` - Date of learning session  
- `Subject` - Subject studied (can be NULL for skipped days)
- `Topic` - Topic studied (can be NULL for skipped days)
- `FilePath` - Path to review file (NULL for skipped days)

**Example queries:**
- `SELECT * FROM learned_material LIMIT 10;`
- `SELECT Subject, COUNT(*) FROM learned_material GROUP BY Subject;`
- `SELECT * FROM learned_material WHERE Date >= '2025-05-01';`

In [ ]:
import query_runner

# Your SQL query here
query = """
SELECT * FROM learned_material LIMIT 10;
"""

query_runner.run_query(query)

## ðŸ¤– Option 2: AI Natural Language Converter

Convert natural language questions into SQL queries using AI. Simply describe what you want to find in plain English.

**Examples:**
- "Show me all subjects I studied in May 2025"
- "What topics did I learn about programming?"
- "Get the dates when I skipped learning"

# Example: Ask a question in natural language
from AI_text_to_query_converter import natural_language_to_query

# Change the question below to whatever you want to know
natural_language_to_query("""Show me all the subjects I learned about in June 2025""")

In [1]:
# Another example: Complex natural language query
from AI_text_to_query_converter import natural_language_to_query

question = input("Enter your question: ")
natural_language_to_query(question)

## âš¡ Option 3: Pre-written Standard Queries

Use these common predefined queries for quick insights into your learning data.

**Available standard queries:**
- `all_data()` - Get all learning records
- `count_subjects()` - Count entries by subject
- `count_topics()` - Count entries by topic  
- `skipped_days()` - Show days when learning was skipped
- `unique_subjects()` - List all unique subjects
- `unique_topics()` - List all unique topics
- `learning_streak()` - Find your longest learning streak
- `total_learning_days()` - Count total days of learning

Simply import the function and run it:

In [ ]:
# Example: Running a standard query
import query_runner
from standard_queries import learning_streak

# Run the learning streak query
query_runner.run_query(learning_streak())

In [2]:
# Example: Try different standard queries
import query_runner
from standard_queries import count_subjects, unique_topics, total_learning_days

# Count subjects
print("ðŸ“š Subject Count:")
query_runner.run_query(count_subjects())

---

## ðŸ’¡ Tips & Notes

- **Database Schema**: The `learned_material` table contains your daily learning records
- **Date Format**: Dates are stored in YYYY-MM-DD format 
- **Null Values**: Missing subjects/topics indicate skipped learning days
- **File Paths**: Point to your HTML review files when learning occurred
- **Error Handling**: Check the `sql_error_message.txt` file if queries fail

**Need help?** 
- Use the AI converter for complex questions in plain English
- Start with standard queries to explore your data
- Write custom SQL for specific analysis needs